Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
gunicorn==23.0.0
python-dotenv==1.0.1
pandas==2.2.3
numpy==1.26.4
openai==1.40.2
fpdf==1.7.2
scikit-learn==1.5.2
Werkzeug==3.0.3
Flask-Migrate==4.0.4
Flask-Mail==0.9.1
Flask-Limiter==2.9.0
alembic==1.13.2
Flask-WTF==1.2.1
psycopg[binary]==3.1.18
