{% extends "base.html" %}

{% block content %}

<div class="container">

    <section id="ai-section" class="section-card">

        <h3>AI Assistant</h3>

        <form id="askForm">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="text"
                   name="question"
                   placeholder="Ask about your spending..."
                   required>

            <button type="submit">Ask AI</button>
        </form>

        <div id="response"></div>

    </section>

</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for(
    'static',
    filename='dashboard.js'
) }}"></script>
{% endblock %}